#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

h1 {
  font-size: 40px !important;
  margin: 20px 0px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dashboard--selects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard button {
  margin: 20px 0px !important;
}
